* {
  margin: 0px;
  padding: 0px;
}
header {
  height: 10vh;
}

.tryPos {
  width: 100vw;
  height: 80px;
  background-color: aqua;
}
.posRelative {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  left: 90vw;
  height: 45px;
  width: 80px;
  border-radius: 2px;
  background-color: rgb(219, 239, 240);
}
.buttonPos {
  background-color: rgb(0, 153, 255);
  color: whitesmoke;
  cursor: pointer;
  width: 70px;
  height: 35px;
  border-radius: 5px;
}
.headingCenter {
  text-align: center;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .posRelative {
    left: 75vw;
  }
}
