.addFilesUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 75px;
  background-color: rgb(219, 239, 240);
  border-radius: 5px;
  position: relative;
  left: 20px;
}
.buttonAddFiles {
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-color: rgb(0, 153, 255);
  color: whitesmoke;
}
